.gradient__bg{
  /* ff 3.6+ */
  background:-moz-radial-gradient(circle at 50% 50%, rgba(255, 255, 0, 1) 0%, rgba(238, 130, 238, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 50% 50%, rgba(255, 255, 0, 1) 0%, rgba(238, 130, 238, 1) 100%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 50% 50%, rgba(255, 255, 0, 1) 0%, rgba(238, 130, 238, 1) 100%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 50% 50%, rgba(255, 255, 0, 1) 0%, rgba(238, 130, 238, 1) 100%);

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 50% 50%, rgba(255, 255, 0, 1) 0%, rgba(238, 130, 238, 1) 100%);

}
