<div class="row">
  <div class="col-xs-12">

    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name" i18n="@@recipeEditNameLabel">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control"
              aria-required="true">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath" i18n="@@recipeEditImageLabel">Image Url</label>
            <input
              type="url"
              id="imagePath"
              class="form-control"
              formControlName="imagePath"
              aria-required="true"
              #imagePath>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" alt="Recipe image preview" i18n-alt="@@recipeEditImagePreviewAlt" class="img-responsive">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description" i18n="@@recipeEditDescriptionLabel">Description</label>
            <textarea
              id="description"
              class="form-control"
              formControlName="description"
              rows="6"
              aria-required="true">
            </textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          @for (ingredientCtrl of controls; track $index; let i = $index) {
            <div
              class="row"
              [formGroupName]="i"
              style="margin-top: 10px">

              <div class="col-xs-8">
                <input
                  type="text"
                  class="form-control"
                  formControlName="name"
                  aria-label="Ingredient name"
                  i18n-aria-label="@@recipeEditIngredientNameAriaLabel">
              </div>

              <div class="col-xs-2">
                <input
                  type="number"
                  class="form-control"
                  formControlName="amount"
                  aria-label="Ingredient amount"
                  i18n-aria-label="@@recipeEditIngredientAmountAriaLabel">
              </div>

              <div class="col-xs-2">
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="onDeleteIng(i)"
                  aria-label="Delete ingredient"
                  i18n-aria-label="@@recipeEditDeleteIngAriaLabel">
                  <span aria-hidden="true">X</span>
                </button>
              </div>
            </div>
          }
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button
            type="button"
            class="btn btn-success mt-2"
            (click)="onAddIngredient()"
            i18n="@@recipeEditAddIngredientButton">
            Add Ingredient
          </button>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!recipeForm.valid"
            i18n="@@recipeEditSaveButton">Save</button>
          <button
            type="button"
            class="btn btn-danger ml-4p"
            (click)="onCancel()"
            i18n="@@recipeEditCancelButton">Cancel</button>
        </div>
      </div>

    </form>

  </div>
</div>
