<nav class="navbar navbar-default custom_border gradient__bg" >
  <div class="container-fluid">

    <div class="navbar-header">

      <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
        <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
      </button>

      <a style="margin-left: 1px;"
        routerLink="/" class="navbar-brand prime zoom">
        <span>
          <img src="https://images.unsplash.com/photo-1602934445884-da0fa1c9d3b3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9vZCUyMGxvZ298ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
             style=" width:30px; height:30px; border-radius: 10px " >
        </span><span style="font-size:23px;margin-left: 5px">Recipe Book</span></a>
    </div>
    <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">

      <ul class="nav navbar-nav" >
        <li *ngIf="isAuthenticated"><a routerLinkActive="highlighted" routerLink="/recipes" class="zoom mt-4p"  >Recipes</a></li>
        <li *ngIf="isAuthenticated"><a routerLinkActive="highlighted" routerLink="/shopping-list" class="zoom mt-4p">Shopping List</a></li>
        <li *ngIf="!isAuthenticated"><a routerLinkActive="highlighted" routerLink="/auth" class="zoom mt-4p">
          <button class="btn btn-sm btn-primary">Log In</button>
        </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" >

        <li *ngIf="isAuthenticated">
          <a style="cursor: pointer">
            <button class="btn btn-sm btn-danger" (click)="onLogout()">Logout</button>
          </a>
        </li>

        <li *ngIf="isAuthenticated" class="dropdown" appDropdown>
          <a style="cursor: pointer" class="dropdown-toggle zoom" role="button">
            <button class="btn btn-sm btn-success">Manage <span class="caret"></span></button></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer" (click)="onSaveData()">Save Data</a></li>
            <li><a style="cursor: pointer" (click)="onFetchData()">Fetch Data</a></li>
          </ul>
        </li>
      </ul>

     </div>
  </div>
</nav>
